img {
    height: 300px;
    width: 300px;
}

#flex-container {
    justify-content: center;
}

#imagesUn {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: center; */
    /* flex-wrap: wrap-reverse; */
}

#imagesDeux {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: center; */
    /* flex-wrap: wrap-reverse; */
}